@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("normalize.css");

*, *::before, *::after{
  box-sizing: border-box;
}
body{
  background-color: #fff;
  font-size: 1.4rem;
  color: #181818;
  font-family: 'Spoqa Han Sans';
}
html{
  font-size: 10px;
}
h1{
  margin: 0;
  padding: 0;
}
/* h2{
  background-color: blue;
  margin: 0;
} */
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color:  inherit;
  
}
.wrapper{
  background-image: url("images/bg_flower.png"), linear-gradient(to bottom, #aaa 0%, white 50%, white 100%);
  background-position: 50% 0;
  background-repeat: no-repeat;
   /*배경은 고정이고 콘텐츠만 움직인다.*/
  background-attachment: fixed;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
  /* margin: 0 auto 같이 2개 값일 때는 왼쪽 값은 top,bottom 오른쪽 값은 left,right 적용 */
}
.header{
  background-color: #FFF;
  position: relative;
  padding: 0 30px 30px;
  border-radius: 0 0 25px 25px;
 
}
.logo{
  position: absolute;
  top: 45px;
  left: 65px;
}
.menu{
  background-color: orange;
  /* position: relative; */
  /* float: left; */
  padding-left: 225px;
  height: 47px;
 border-top: 2px solid #000;
 border-radius: 0 0 5px 5px;
}
.menu-item{
  /* background-color: green; */
  position: relative;
  float: left;
}
.menu-item-text{
  color:  #fff;
  font-weight: 700;
  padding: 0 20px;
  font-size: 1.6rem;
  display: inline-block;
  line-height: 45px;
  border-left: 2px solid rgba(242, 242, 242, 0.5);
}
.menu-item-text:hover{
  color: yellow;
  cursor: pointer;
}
.menu-item-text:hover::after{
  content: "";
  background-color: #000;
  height: 2px;
  display: block;
}
.submenu{
  position: absolute;
  top: 50px;
  white-space: nowrap;
}
.submenu li{
display: inline-block;
}
.submenu a{
display: inline-block;
padding: 8px 5px 10px 0;
margin-right: 10px;

}
.member{
  padding: 10px 0;
  text-align: right;
  position: relative;
  right: -10px;
  font-size: 0;

  
}
.member li{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member a{
  padding: 5px 10px;
}
.member li:nth-child(n+2)::before{
  content: ":";
}
.readable-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
/* 메뉴 아이템 서브메뉴에 자식번째 */
.menu-item:nth-child(1) .submenu{
  display: block;
  left: 0;
}
.menu-item:nth-child(2) .submenu{
  display: none;
  left: 0;
}
.menu-item:nth-child(3) .submenu{
  display: none;
  left: 0;
}
.menu-item:nth-child(4) .submenu{
  display: none;
  left: 0;
  
}
.menu-item:nth-child(5) .submenu{
  display: none;
  left: 0;
}
.menu-item:nth-child(6) .submenu{
  display: none;
  left: 0;
}
/* 비주얼 클래스에서 텍스트가 움직이는 애니메이션 */
@keyframes textAni{
  0%{
    /* 텍스트 색상(색,색,색,투명도(투명) */
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    /* 텍스트 이동 좌표*/
    transform: translate(0,0);
  }
  100%{
    /* 텍스트 색상(색,색,색,투명도(불투명) */
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    /* 텍스트 이동 좌표 */
    transform: translate(400px,75px);
  }
}
/* 비주얼에 가짜 클래스 만들어서 꽃 이미지 애니메이션 */
@keyframes flowerAni{
  0%{
    /* 박스 유지(박스가 화면에 보인다.) */
    opacity: 1;
  }
  100%{
    /* 박스 투명(박스가 화면에 안보인다.) */
    opacity: 0;
  }
}
.visual{
  position: relative;
  height: 120px;
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.visual::before{
  background-image: url("images/ani_flower_01.png"),url("images/ani_flower_03.png");
  background-repeat: no-repeat;
  background-position: -10px -10px, 670px 20px;
  animation-name: flowerAni;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.visual::after{
  background-image: url("images/ani_flower_02.png"), url("images/ani_flower_04.png");
  background-repeat: no-repeat;
  background-position: 300px 0, 800px 0;
  animation-name: flowerAni;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.visual-text{
  position: absolute;
  animation-name: textAni;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.main{
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 30px 15px; 
}

.group{
  float: left;
  margin: 0 15px;
}

.group1{
  width: 250px;
}
/* 로그인 */
.login{
background-color: orange;
padding: 10px;
border-radius: 5px;
box-shadow: 5px 5px 0 0 #aaa;
}
.login-head{
  color: ivory;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 10px 10px;
}
.login-form{
  background-color: #FFF;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  position: relative;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #aaa;
  margin: 0;
  padding: 0 0 4px 0;
}
.user-id{
  margin-bottom: 6px;
}
.user-id label{
  display: inline-block;
  width: 4em;
}
.user-id input{
  width: 98px;
  height: 22px;
  padding: 0 0 0 5px;
  border: 1px solid grey;
}
.user-pw{
  margin-bottom: 6px;
}
.user-pw label{
  display: inline-block;
  width: 4em;
}
.user-pw input{
  width: 98px;
  height: 22px;
  border: 1px solid grey;
  padding: 0 0 0 5px;
}
.login-bt{
  position: absolute;
  margin: 0;
  padding: 0 5px;
  top: 0;
  right: 0;;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFF;
  background-color: orange;
  border-radius: 5px;
}
.login-member{
  background-color: #FFF;
  border-radius: 0 0 5px 5px;
  padding: 10px 10px 20px 10px;
}
.login-member li{
  letter-spacing:  -1px;
}
.login-member li:nth-child(1){
  float: left;
}
.login-member li:nth-child(2){
  float: right;
}
.login-member a{
  padding: 5px 0;
}
/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;
}
.validation-list li{
  margin: 10px 0;
}
.validation-list a{
  display: block;
  line-height: 30px;
  border: 1px solid #aaa;
  border-radius: 30px;
  background: url("images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  padding-left: 45px;
}
/* 웹 관련 용어 */
.term{
  padding: 20px 16px;
  height: 152px;
  border: 1px solid #aaa;
  background: linear-gradient(to bottom, #eee, #aaa);
  border-radius: 7px;
}
.term-heading{
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.5rem;
}
.term-list{
  margin: 0;
}
.term-list-subject{
  display: flex;
  justify-content: center;
  display: inline-block;
}
.term-list-thumbnail{
  float: left;
  margin: 0;
  padding-right: 14px;
}
.term-list-tutorial{
  padding-top: 10px; 
}
.group2{
  /* 마지막에는 투명도를 설정한다. */
  /* background-color: hsla(120,20%,60%,.5); */
  width: 380px;

}
/* 자료 검색 */
.search-form fieldset{
  border: 1px solid #aaa;
  border-bottom: 0;
  background: linear-gradient(to bottom, #aaa, #eee);
  display: inline-block;
  height: 52px;
  padding: 20px 26px 10px;
  border-radius: 5px 5px 0 0;
}
.ipt-search{
  width: 200px;
  margin: 0 10px 0;
}
.btn-search{
  background: linear-gradient(to bottom, #ccc, #181818);
  color: #fff;
}
/* 게시판 */
.bord{
  /* background:blue; */
  position: relative;
  margin-top: 20px;
}
.notice-heading.tab, .pds-heading.tab{
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom, #eee, #ccc);
  background: #ccc;
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  cursor: pointer;
  margin: 0;
}
.pds-heading{
  left: 73px;
}
.is-act .tab{
  background: #fff;
  border-color: #ce5327 #ce5327 #fff #ce5327;
  color: #ce5327;
}
.notice-list, .pds-list{
  /* background-color: yellow; */
  padding-top: 40px;
}
.notice-list li, .pds-list li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.notice-list a, .pds-list a{
  width: calc(100% - 105px);
  /* 콘텐츠가 박스 사이즈를 넘어가면 넘어간 부분을 자른다 */
  overflow: hidden;
  /* 줄바꿈을 하지 않는다.*/
  white-space: nowrap;
  /* 텍스트가 오버되면 ....처리 한다. */
  text-overflow: ellipsis;
}
.notice-more, .pds-more{
  position: absolute;
  font-size: 16px;
  top: 0;
  right: 0;
}

.notice-list, .notice-more, .pds-list, .pds-more{
  display: none;
}
.is-act .notice-list, .is-act .notice-more, .is-act .pds-list, .is-act .pds-more{
  display: block;
}
/* 새소식 */
.news{
  position: relative;
  margin-top: 20px;
}
.news::before{
  content: "";
  position: absolute;
  background: linear-gradient(to right, #ccc, #eee);
  height: 1px;
  width: 80%;
  top: 30px;
}
.news-heading{
  color: #ce5327;
  font-size: 1.5rem;
  margin: 0;
}
.news-item{
  position: relative;
  padding-left: 130px;
  margin-top: 35px;
} 
.news-item-heading{
  font-size: 1.4rem;
  margin-bottom: 0;
}
.news-item-thumbnail{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
}
.news-item-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 10px 15px 5px #aaa; 
}
.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.group3{
  width: 189px;
  
}
.clearfix::after{
  content: "";
  display: block;
  background-color: #000;
  clear: both;
}
/* 신규 이벤트 및 관련 사이트 */

.event-related{
  position: relative;
  padding: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: linear-gradient(to bottom, #eee, #ccc);
}
.event{
  position: relative;
  border-bottom: 1px solid #aaa;
}
.event-heading{
  font-size: 1.6rem;
  margin: 0;
}
.event-heading, .related-heading span{
  color: #ce5327;
}
.event-thumbnail{
  /* border: 1px solid #ccc; */
  display: inline-block;
  box-shadow: 5px 5px 0 0 #aaa;
  margin: 10px 0;
}
.event-brief{
  margin: 10px 0;
}
.related{
  margin-top: 10px;
}
.related-heading{
  margin: 0;
  font-size: 1.6rem;
}
.related-list{
  margin-top: 10px;
  height: 25px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 1s;
  
}
.related-list a{
  display: block;
  line-height: 25px;
  text-indent: 15px;
}
/* :hover는 가짜 클래스 마우스를 올려놓았을때 효과를 줄 수 있다. */
.related-list:hover{
  height: 140px;
  padding: 10px 0;
}
.btn-event{
  padding: 2px;
  height: 22px;
  position: absolute;
  top: -1px;
  right: 0;
  overflow: hidden;
}
.btn-event-prev, .btn-event-next{
  border: 0;
  width: 20px;
  padding: 0;
  white-space: nowrap;
  /* 박스 안에 남아있는 텍스트를 들여쓰기로 안보이게 한다. */
  text-indent: 50px;
  /* 박스 넘어가는 텍스트를 자른다. */
  background-image: url("images/back_forward.png");
  background-repeat: no-repeat;
}
.btn-event-next{
  background-position: 100% 0;
}
/* 인기 사이트 */
.favorite{
  position: relative;
  margin-top: 20px;
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
.favorite-heading{
  font-size: 1.5rem;
  margin: 0;
}
.favorite-heading span{
  color: #ce5327;
}
.favorite-list{
  margin: 5px 0 0 0;
  padding: 0;
  overflow: hidden;
  counter-reset: number;
}
.favorite-list li{
  margin: 5px 0;
  counter-increment: number;
  /* line-height: 30px; */
}
.favorite-list li::before{
  content: counter(number);
  float: left;
  margin-right: 5px;
  color: #fff;
  background-color: #aaa;
  padding: 0 5px;
  border-radius: 4px;
}
.favorite-list a{
  float: left;

}
.favorite-list em{
  float: right;
  /* transform: translateY(10%); */
}
.favorite-more{
  position: absolute;
  padding: 4px;
  top: 6px;
  right: 6px;
}
.up, .down, .stop{
  width: 9px;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("images/rank.png");
  background-repeat: no-repeat;
  text-indent: 20px;
  margin-top: 2%;
}
.down{
  background-position: 0 100%;
  margin-top: -1% !important;
}
.stop{
  background-position: 0 50%;
  margin-top: 1% !important;
}
/* 슬로건 */
.slogan{
  
  padding: 0px 100px 0px 180px;
  position: relative;
}
.slogan-heading{
  position: absolute;
  padding-left: 10px;
  left: 35px;
  bottom: -45px;
  text-align: center;
  height: 83px;
  width: 110px;
  font-size: 1em;
  line-height: 83px;
}
.slogan::after{
  content: "";
  clear: both;
  display: block;
}
.slogan-heading::after{
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/css/images/coffee.png ");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}
.slogan-content{
  font-size: 1.5rem;
  color: #987633;
}
.slogan-content::before{
  content: "";
  font-size: 3rem;
}
.slogan-content::after{
  content: "";
  font-size: 3rem;
}
.footer-bg{
  background: linear-gradient(to bottom, #aaa 0%, #ccc 25%,  white 100%);
}

.footer{
  padding: 10px 100px 10px 160px;
  position: relative;
}
.footer-logo{
  position: absolute;
  top: 35px;
  left: 35px;
}
.guide{
  display: flex;
  justify-content: space-around;
  background-color: #aaa;
  border-radius: 4px;
  padding: 10px; 
}
.guide a{
  color: #fff;
}
.address{
  margin-top: 10px;
  font-style: normal;
}
.badge{
  position: absolute;
  top: 10px;
  right: 0;
}