@import url("normalize.css");
*{
  box-sizing: border-box;
}
body{
  font-size: 20px;
}
h2{
  background-color: blue;
  /* margin: 0; */
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  
}
.wrapper{
  background-color: yellow;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
  /* margin: 0 auto 같이 2개 값일 때는 왼쪽 값은 top,bottom 오른쪽 값은 left,right 적용 */
}
.header{
  background-color: pink;
  position: relative;
  padding: 0 30px;
  
}
.logo{
  position: absolute;
  top: 45px;
  left: 65px;
}
.member{
  
  padding: 10px 0;
  float: right;
  
}
.member li{
  float: left;
  position: absolute;
  background-color: green;
}
.member a{
  padding: 5px 10px;
}
.readable-hidden{
  position: absolute;
  left: -2000px;
}
.navigation{
  clear: both;
}
.visual{
  background: lime;
  height: 10vh;
  
 
}

.main{
  background-color: skyblue;
  height: 10vh;
  padding: 100 50000px; 
}

/* .group{

} */

.group1{
  background-color: rgba(255,255,255,.5);
  width: 250px;
  float: left;
}
.group2{
  background-color: hsla(120,20%,60%,.5); /*마지막에는 투명도를 설정한다.*/
  width: 380px;
  
}
.group3{
  background-color: tomato;
  width: 189px;

}


.slogan{
  background-color: blueviolet;
  height: 10vh;
}

.footer-bg{
  background-color: orange;
}

.footer{
  background-color: silver;
  height: 10vh;
}